<div class="gc-sidebar-custom-footer">
  <div class="gc-user-avatar">
    <span class="gc-avatar-placeholder">A</span>
  </div>
  <div class="gc-user-info">
    <div class="gc-user-name">Supri Admin</div>
    <div class="gc-user-handle">@Admin</div>
  </div>
  {{d-icon "chevron-down"}}
</div>