<div class="gc-sidebar-custom-header">
  <img src={{theme-setting "gc-logo"}} alt="GC Logo" class="gc-logo-img" />
  <span class="gc-logo-text">GC LOGO</span>
  <button class="gc-toggle-btn" {{action "toggleSidebar"}}>
    {{d-icon "chevron-left"}}
  </button>
</div>